@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
    background-color: rgb(12, 12, 13);
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    border:none;
    font-size: 2rem;
    width: 3rem;
    margin: 5px;
}